


div.one{
    background-color: azure; 
display:block;
position: sticky;
top: 0;
padding: 5px;
background-color: #ddf4dd;
border: 2px solid #000000;
overflow-y: scroll;
}
div.two{
    width: 30%;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background-color: rgb(178, 178, 178);



}